<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="hu.bme.mit.inf.viewmodel.runtime.queries.logicmodel.ClusteringQueries" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.inf.viewmodel.runtime.queries.logicmodel.ClusteringQueries" id="hu.bme.mit.inf.viewmodel.runtime.queries.logicmodel.ClusteringQueries">
      <query-specification fqn="hu.bme.mit.inf.viewmodel.runtime.queries.logicmodel.representedVariable"/>
      <query-specification fqn="hu.bme.mit.inf.viewmodel.runtime.queries.logicmodel.representant"/>
      <query-specification fqn="hu.bme.mit.inf.viewmodel.runtime.queries.logicmodel.strongClusterRelation"/>
      <query-specification fqn="hu.bme.mit.inf.viewmodel.runtime.queries.logicmodel.clusterRelation"/>
    </group>
  </extension>
  <extension id="hu.bme.mit.inf.viewmodel.runtime.queries.logicmodel.EcoreQueries" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.inf.viewmodel.runtime.queries.logicmodel.EcoreQueries" id="hu.bme.mit.inf.viewmodel.runtime.queries.logicmodel.EcoreQueries">
      <query-specification fqn="hu.bme.mit.inf.viewmodel.runtime.queries.logicmodel.conformsTo"/>
      <query-specification fqn="hu.bme.mit.inf.viewmodel.runtime.queries.logicmodel.strongRelation"/>
      <query-specification fqn="hu.bme.mit.inf.viewmodel.runtime.queries.logicmodel.hasEOpposite"/>
      <query-specification fqn="hu.bme.mit.inf.viewmodel.runtime.queries.logicmodel.isContainment"/>
    </group>
  </extension>
  <extension id="hu.bme.mit.inf.viewmodel.runtime.queries.logicmodel.LogicModelQueries" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.inf.viewmodel.runtime.queries.logicmodel.LogicModelQueries" id="hu.bme.mit.inf.viewmodel.runtime.queries.logicmodel.LogicModelQueries">
      <query-specification fqn="hu.bme.mit.inf.viewmodel.runtime.queries.logicmodel.concreteRelation"/>
      <query-specification fqn="hu.bme.mit.inf.viewmodel.runtime.queries.logicmodel.concreteVariable"/>
      <query-specification fqn="hu.bme.mit.inf.viewmodel.runtime.queries.logicmodel.eObjectConstantValue"/>
      <query-specification fqn="hu.bme.mit.inf.viewmodel.runtime.queries.logicmodel.javaObjectConstantValue"/>
    </group>
  </extension>
  <extension id="hu.bme.mit.inf.viewmodel.runtime.queries.logicmodel.TypeDerivationQueries" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.inf.viewmodel.runtime.queries.logicmodel.TypeDerivationQueries" id="hu.bme.mit.inf.viewmodel.runtime.queries.logicmodel.TypeDerivationQueries">
      <query-specification fqn="hu.bme.mit.inf.viewmodel.runtime.queries.logicmodel.concreteClusterType"/>
      <query-specification fqn="hu.bme.mit.inf.viewmodel.runtime.queries.logicmodel.requiredClusterType"/>
      <query-specification fqn="hu.bme.mit.inf.viewmodel.runtime.queries.logicmodel.requiredJavaClusterType"/>
    </group>
  </extension>
  <extension id="hu.bme.mit.inf.viewmodel.runtime.queries.manifestationtrace.ManifestationTraceQueries" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.inf.viewmodel.runtime.queries.manifestationtrace.ManifestationTraceQueries" id="hu.bme.mit.inf.viewmodel.runtime.queries.manifestationtrace.ManifestationTraceQueries">
      <query-specification fqn="hu.bme.mit.inf.viewmodel.runtime.queries.manifestationtrace.manifestableRelation"/>
      <query-specification fqn="hu.bme.mit.inf.viewmodel.runtime.queries.manifestationtrace.manifestableConcreteVariable"/>
      <query-specification fqn="hu.bme.mit.inf.viewmodel.runtime.queries.manifestationtrace.manifestableEObjectConstantValue"/>
      <query-specification fqn="hu.bme.mit.inf.viewmodel.runtime.queries.manifestationtrace.manifestableJavaObjectConstantValue"/>
      <query-specification fqn="hu.bme.mit.inf.viewmodel.runtime.queries.manifestationtrace.manifestation"/>
    </group>
  </extension>
  <extension id="hu.bme.mit.inf.viewmodel.runtime.queries.viewmodeltrace.ViewModelTraceQueries" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.inf.viewmodel.runtime.queries.viewmodeltrace.ViewModelTraceQueries" id="hu.bme.mit.inf.viewmodel.runtime.queries.viewmodeltrace.ViewModelTraceQueries">
      <query-specification fqn="hu.bme.mit.inf.viewmodel.runtime.queries.viewmodeltrace.namedTrace"/>
      <query-specification fqn="hu.bme.mit.inf.viewmodel.runtime.queries.viewmodeltrace.namedMatchArgument"/>
    </group>
  </extension>
</plugin>
